@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(../fonts/idroid.otf) format(opentype);
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../fonts/BebasNeue-Regular.ttf) format(truetype);
    
}

body {
    background-color: #85E1B5;
}

main {
    background-color: #ffffff;

    min-width: 320px;
    max-width: 800px;

    padding: 15px;
    margin: auto;

    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;

    box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.418);
}

header {
    background-image: linear-gradient(to top, #1B5C3C, #3FDB90);
    margin: -8px -10px 0px -10px;
    padding-top: 10px;
    height: 150px;
    
}

h1 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: white;
}

h2 {
    font-family: 'idroid', sans-serif;
    color: #1B5C3C;
}

h2.versao {
    font-family: 'idroid', sans-serif;
    background-image: linear-gradient(to right, #85E1B5, #ffffff);
    color: #1B5C3C;
}

div#video {
    background-color: #1B5C3C;
    margin: 0px -15px 0px -15px;
    padding: 20px;
    padding-bottom: 56.25%;
    position: relative;
}

div#video > iframe {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
}

p {
    font-family: sans-serif;
    text-align: justify;
    text-indent: 30px;
}

p#cabecalho{
    text-align: center;
    color: #ffffffb7
}

p#rodape {
    background-color: #1B5C3C;
    text-align: center;
    margin: 10px -10px -10px -10px;
    color: #ffffffb7
}

strong {
    color: white;
}

