@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(../fonts/idroid.otf) format(opentype);
    font-weight: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --color0: #c5ebd6;
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;
    --color4: #1a5c37;
    --color5: #063d1e;

    --standard-font: Arial, Verdana, Helvetica, sans-serif;
    --featured-font: 'Bebas Neue', 'cursive';
    --android-font: 'idroid', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color0);
    font-family: var(--standard-font);
}

header {
    background-color: var(--color4);
}

header > h1 {
    font-family: var(--featured-font);
    color: #ffffff;
}

header > p {
    color: #ffffff;
}

nav {
    background-color: var(--color5);
}

main {
    background-color: #ffffff;
}

main h1 {
    color: var(--color5);
    font-family: var(--android-font);
}

main h2 {
    color: var(--color5);
    font-family: var(--android-font);
}

footer {
    background-color: var(--color5);
    color: #ffffff;
}
